*,
*::before,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
	color: #eee;
	font-size: 1.25rem;
}

header {
	display: flex;
	margin-bottom: 1rem;
	gap: 0.5rem;
}

.btn {
	cursor: pointer;
	flex-grow: 1;
	height: 2rem;
	font: inherit;
	border: 2px solid transparent;
}

.btn.selected {
	background-color: #222;
	color: #eee;
	border-color: #eee;
}

main {
	padding: 0.5rem;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table,
th,
td {
	border: 2px solid steelblue;
}

th,
td {
	padding: 0.5rem;
}

th {
	text-align: left;
	border-color: #eee;
	background-color: steelblue;
}
